*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:linear-gradient(135deg,#0B1020,#171E38);
    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;
}

.container{

    background:rgba(255,255,255,.06);

    backdrop-filter:blur(12px);

    border:1px solid rgba(255,255,255,.15);

    border-radius:25px;

    padding:60px;

    text-align:center;

    width:700px;

    box-shadow:0 0 40px rgba(124,92,255,.25);

}

h1{

    font-size:60px;

    margin-bottom:20px;

}

.subtitle{

    font-size:22px;

    opacity:.8;

    margin-bottom:40px;

}

.buttons{

    display:flex;

    justify-content:center;

    gap:20px;

}

.buttons a{

    text-decoration:none;

    color:white;

    background:#7C5CFF;

    padding:15px 35px;

    border-radius:14px;

    transition:.3s;

    font-weight:bold;

}

.buttons a:hover{

    transform:translateY(-5px);

    background:#5F46D8;

    box-shadow:0 0 20px rgba(124,92,255,.7);

}
.stars{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background-image:
radial-gradient(white 1px, transparent 1px);

background-size:40px 40px;

opacity:.15;

z-index:-1;

animation:moveStars 40s linear infinite;

}

@keyframes moveStars{

from{

transform:translateY(0);

}

to{

transform:translateY(-40px);

}

}
